.pageContainer {
    padding: 3.5em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.homeContainer {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.searchContainer {
    padding: 2% 30% 2% 30%;
}

.mainContainer {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.filterContainer {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.accordianContainer {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding-right: 5%;
}

.expandContainer {
    width: 100%;
    display: inline-block;
}

.column {
    width: 100%;
    display: inline-block;
}

.mnemonic {
    padding-right: 80px;
    font-family: monospace;
    font-weight: bold;
    background-color: lightgrey;
}

.releaseversion {
    width: 60px;
}

.item {
    width: 100%;
}

.itemtitledesc {
    width: 50%;
}

.itemtitlemnem {
    width: 40%;
    font-family: monospace;
    font-weight: bold;
}

.itemtitleISA {
    width: 10%;
    font-style: italic;
    font-size: 75%;
}

.syntax {
    text-align: left;
    font-weight: bold;
    white-space: pre;
    code {
        font-weight: bold;
    }
}

.conditions {
    text-align: left;
    font-size: 75%;
}

.pseudocode {
    text-align: left;
    pre {
        font-weight: bold;
    }
}

.prose {
    text-align: left;
}

.link {
    font-family: monospace;
}

.instruction-layout {
        width: 400px;
        border-collapse: collapse;
}

.instruction-field {
        border: 1px solid black;
        text-align: center;
}

.instruction-bit-number {
        border: 1px solid black;
        text-align: left;
        font-size: 75%;
        font-family: monospace;
}

h1 {
    text-align: center;
}

.type-sig-entry {
  font-family: monospace;
}
