$feature-flags: (
    components-x: true,
    breaking-changes-x: true,
    grid: true,
    ui-shell: true
);
@import "~carbon-components/scss/globals/scss/styles.scss";
@import "~@carbon/elements/scss/type/_styles";

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    @include carbon--type-style("display-01");
}

h3 {
    @include carbon--type-style("heading-02");
}

h4 {
    @include carbon--type-style("caption-01");
}
